<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
      __DIR__ . '/src',
      __DIR__ . '/tests'
    ])
    ->exclude('Migrations')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_imports' => ['sort_algorithm' => 'none'],
        'trailing_comma_in_multiline_array' => false
    ])
    ->setUsingCache(false)
    ->setFinder($finder)
;
